<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpaceBar"
        tools:targetApi="31">
        <activity
            android:name=".perfilusuario"

            android:name=".alterarSenha"
            android:exported="false" />
        <activity
            android:name=".alterarPais"
            android:exported="false" />
        <activity
            android:name=".alterarEmail"
            android:exported="false" />
        <activity
            android:name=".alterarCelular"
            android:exported="false" />
        <activity
            android:name=".alterarNomeUsuario"
            android:exported="false" />
        <activity
            android:name=".recursos_adicionais"
            android:exported="false" />
        <activity
            android:name=".criador_conteudo"
            android:exported="false" />
        <activity
            android:name=".verificado"
            android:exported="false" />
        <activity
            android:name=".minha_conta"
            android:exported="false" />
        <activity
            android:name=".perfil_config"

            android:exported="false" />
        <activity
            android:name=".PostComentario"
            android:exported="false" />
        <activity
            android:name=".criar_post"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".InscreverSenha"
            android:exported="false" />
        <activity
            android:name=".InscreverPais"
            android:exported="false" />
        <activity
            android:name=".InscreverCelular"
            android:exported="false" />
        <activity
            android:name=".InscreverLogin"
            android:exported="false" />
        <activity
            android:name=".InscreverEmail"
            android:exported="false" />
        <activity
            android:name=".Inscrever"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>